<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Cursos - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Lista de Cursos</h1>
        <h4>Selecione uma opção na lista para executá-la</h4>
    </header>
    <table border=1>
        <tr>
            <td>Código</td><td>Nome do curso</td>
        </tr>
        
        <% for(var i=0; i< lista.length; i++) {%>
        <tr>    <td><%= lista[i].id %></td><td><%= lista[i].nome %></td></tr>
        <% } %>
        
    </table>
    <footer>
        <small>Sistema de Cadastro de Cursos</small>
    </footer>
</body>

</html>